body {
  margin: 30px 5%;
  background-color: azure;
  font-family: 'Sour Gummy';
}

header {
  width: 100%;
  display: flex;
  gap: 15px;
  height: 60px;
}

input {
  width: 100%;
  font-family: 'Sour Gummy';
  font-size: 2rem;
  padding: 0 10px;
  border: none;
  box-shadow: 0 0 10px rgb(122, 122, 122);
  border-radius: 10px;
}

.add-button {
  width: 20%;
  min-width: 80px;
  font-family: 'Sour Gummy';
  font-size: 1.7rem;
  border: none;
  box-shadow: 0 0 10px rgb(148, 147, 147);
  border-radius: 10px;
  cursor: pointer;
}

.add-button:hover {
  transform: scale(1.1);
}

.header {
  margin-top: 2rem;
  font-size: 1.5rem;
  color:rgb(100, 100, 100);
}

.task-card {
  background-color: white;
  margin-top: 10px;
  display: flex;
  font-size: 1.3rem;
  color:rgb(87, 87, 87);
  box-shadow: 0 2px 5px rgb(216, 215, 215);
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: space-around;
  gap: 5px
}

.actions i:hover {
  transform: scale(1.1);
  color:rgb(100, 100, 100);
  cursor: pointer;
}

.task-text {
  max-width: 80%;
  display:flex;
  flex-wrap: wrap;
}